body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #efe;
    margin: 20px;
}

* {
    border: solid #000000 4px 6px;
    border-radius: 20px;
    justify-self: center;
    text-align: center;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    gap: 30px;
}

h1, h2 {
    margin-left: auto;
    margin-right: auto;
    border: solid #000000 .2rem;
    padding: 5px;
    background-color: whitesmoke;
    background-size: fit-content;
    width: fit-content;
}

#starter {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    border: solid #000000 .2rem;
    padding: 5px;
    background-color: whitesmoke;
    background-size: fit-content;
    width: fit-content;
    margin-top: 100px;
    margin-left: 150px
}

/* h2 {
    border: solid #000000 .2rem;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding: 5px;
    background-color: whitesmoke;
    background-size: fit-content;
} */


.submit {
    margin: 5px;
}

.formContainer {
    display: none;
    height: 70%;
    grid-column: 1;
    grid-row: 2;
}

.header {
    height: 20%;
    margin-top: 10px;
}

.pokeGenerator {
    height: 70%;
    grid-column: 1;
    grid-row: 1;
}

.pokeDex {
    display: none;
    height: fit-content;
    width: fit-content;
    grid-column: 1;
    grid-row: 1;
}

.teamContainer {
    height: 80%;
    grid-column: 2;
    grid-row: 1;
}

.myTeam {
    display: grid;
    gap: 5px;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr;
    grid-column-start: auto;
}

.starterFetch {
    height: 512px;
    width: 512px;
    border-radius: 50%;
    background-image: url('https://www.clipartmax.com/png/full/129-1298536_pokeball-free-icon-pokeball-icon.png');
}


.pokeFetch {
    width: 40%;
}

#name,
#moveset {
    border: #000000 2px;
    background-color: whitesmoke;
    margin: 5px;
}

.move {
    margin: 5px;
    background-color: whitesmoke;
    border: #000000 2px;

}

.pokeDex {
    background-color: wheat;
    width: fit-content;
    border: 2px solid grey;
    padding: 2px;
}

.cardContainer {
    display: none;
}

.pokeCardField {
    width: 800px;
    height: 420px;
    background-image: url(https://pokemonrevolution.net/forum/uploads/monthly_2019_10/d843fov-5ad2d436-789b-48f4-91ac-7a553ca26306.png.3c7185d83015a14741e5cf34bdae8c99.png);
    background-repeat: none;
    background-size: cover;
    display: inline-flex;
    }



.card {
    position: static;
    border: grey solid 2px;
    padding: 0.5rem;
    margin: 1rem 2rem;
    box-shadow: 4px 6px #000000;
    width: auto;
    height: auto;
}
.teamCard {
    background-color: slategray;
    border: grey solid 2px;
    /* padding: 0.5rem; */
    box-shadow: 4px 6px #000000;
    width: 275px;
    height: 175px;
}

.release {
    float: right;
    width: 70%;
    box-shadow: #000000 1px 2px;
    margin-bottom: 20px;
    margin-right: 8px;
}

.info {
    float: right;
    width: 70%;
    box-shadow: #000000 1px 2px;
    margin-bottom: 5px;
    margin-right: 8px;
}

.sprite {
    height: auto;
    width: auto;
}

.blankSprite {
    margin-top: 37.5px;
    height: 100px;
    width: 100px;
}

.ballSprite {
    margin-top: 8px;
    margin-left: 13px;
    float: left;
    height: 50px;
    width: 50px;
}

.normal {
    background-color: #A8A878;
}
.fire {
    background-color: #F08030;
}
.fighting {
    background-color: #C03028;
}
.water {
    background-color: #6890F0;
}
.flying {
    background-color: #A890F0;
}
.grass {
    background-color: #78C850;
}
.poison {
    background-color: #A040A0;
}
.electric {
    background: #F8D030;
}
.ground {
    background-color: #E0C068;
}
.psychic {
    background-color: #F85888;
}
.rock {
    background-color: #B8A038;
}
.ice {
    background-color: #638D8D;
}
.bug {
    background-color: #A8B820;
}
.dragon {
    background-color: #4924A1;
}
.ghost {
    background-color: #705898;
}
.dark {
    background-color: #705848;
}
.steel {
    background-color: #787887;
}
.fairy {
    background-color: #9B6470;
}

.shimmer {
    color: grey;
    display:inline-block;
    -webkit-mask:linear-gradient(-60deg,#000 30%,#0005,#000 70%) right/300% 100%;
    background-repeat: no-repeat;
    animation: shimmer 1s infinite;
    font-size: 50px;
    max-width:200px;
  }
  
  @keyframes shimmer {
    100% {-webkit-mask-position:left}
  }